<!doctype HTML>
<html>
<head>
</head>

<body>

  <p>The Home Page</p>

  <form action = "{{ url_for('prediction') }}" method = "post">
    <input type="number" min=0 name="Sq Feet" placeholder="Sq Feet"/>
    <input type="number" min=0 step=0.25 name="Beds" placeholder="Beds"/>
    <input type="number" min=0 step=0.25 name="Baths" placeholder="Baths"/>
    <select name = "City">
      <option value='' disabled selected>City</option>
      {% for city in cities %}
      <option value = "{{city}}">{{city}}</option>
      {% endfor %}
    </select>

    <button type = "submit" >Submit</button>
  </form>


  <p>{{ pred_vals }}</p>

</body>
</html>
