<!doctype HTML>
<html>
<head>
  <link rel="stylesheet" type='text/css' href="../static/stylesheets/style.css">
</head>

<body>

  <div class='container'>

    <h1 id='title'>San Gabriel Valley Property Value Predictor</h1>

    <form action = "{{ url_for('prediction') }}" method = "post">

      <div class='text-field-group'>
        <div class='form-item'>
          <label for='Sqfeet'>Sq Feet</label>
          <input type="number" min=0 id='Sqfeet' name="Sq Feet"/>
        </div>

        <div class='form-item'>
          <label for='Beds'>Beds</label>
          <input type="number" min=0 step=0.25 id='Beds' name="Beds"/>
        </div>

        <div class='form-item'>
          <label for='Baths'>Baths</label>
          <input type="number" min=0 step=0.25 id='Baths' name="Baths"/>
        </div>
      </div>

      <div class='form-item drop-down-group'>
        <label for='Prop_Type'>Property Type</label>
        <select name = "Prop_Type" id='Prop_Type'>
          <option value='' disabled selected>-</option>
          {% for prop in prop_type %}
          <option value = "{{prop}}">{{prop}}</option>
          {% endfor %}
        </select>
      </div>

      <div class='form-item drop-down-group'>
        <label for='City'>City</label>
        <select name = "City" id='City'>
          <option value='' disabled selected>-</option>
          {% for city in cities %}
          <option value = "{{city}}">{{city}}</option>
          {% endfor %}
        </select>
      </div>

      <button type = "submit" >Get Prediction</button>
    </form>


    <p>{{ pred_vals }}</p>

  </div>

</body>
</html>
